.next-item-failure-message {
    color: red;
}
.next-item-message {
    font-style: italic;
}

#progressBar { 
   border:1px solid #aaa; 
   color:#fff; 
   width:295px; 
   height:20px;
}
#progress {
   background-color:#ff0000; // red
   height:20px;
   display:inline-block;
}
